# dependencies
node_modules/
**/node_modules/

# env files
.env
**/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/

services/application-service/src/uploads/resumes/